# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# To use this compose you should first build Traffic Ops and then copy the RPM to :
#
# trafficcontrol/infrastructure/cdn-in-a-box/traffic_ops/traffic_ops.rpm
#
#      cd trafficcontrol/infrastructure/cdn-in-a-box
#
# Adjust the settings in `variables-k8s.env` to suit your needs.
#
#      docker-compose up -d
#
# The Traffic Ops Go API will then be available on https://localhost:6443,
# the Perl API on https://localhost:60443, and the postgres database on localhost 5432.
#
# Note that this setup is intended for testing and not for production use.

---
version: '3.7'

services:
  # db is the Traffic Ops database running in postgresql.  Only trafficops and trafficops-perl need to have access to it.
  # All other components access the database thru the Traffic Ops API
  db:
    build:
      context: .
      dockerfile: traffic_ops/Dockerfile-db
    hostname: db
    domainname: infra.svc.cluster.local
    image: cdn-ops-db
    depends_on:
      - dns
    volumes:
      - /var/lib/postgresql/data
      - shared:/shared
    env_file:
      - variables-k8s.env
    # TODO: change to expose: "5432" to limit to containers

  # trafficops runs only the Go version of Traffic Ops in a container.  All Traffic Ops API endpoints that have
  # been rewritten in Go will be handled here.  All that have not are passed to the trafficops-perl service
  # defined below
  trafficops:
    build:
      context: .
      dockerfile: traffic_ops/Dockerfile-go
    hostname: trafficops
    domainname: infra.svc.cluster.local
    image: cdn-ops-go
    depends_on:
      - db
      - enroller
      - trafficops-perl
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared

  # trafficops-perl runs the legacy Traffic Ops in Perl using the Mojolicious framework.  This remains
  # in place until all API endpoints have been rewritten in Go
  trafficops-perl:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/traffic_ops/Dockerfile
      args:
        TRAFFIC_OPS_RPM: infrastructure/cdn-in-a-box/traffic_ops/traffic_ops.rpm
    hostname: trafficops-perl
    domainname: infra.svc.cluster.local
    image: cdn-ops-perl
    depends_on:
      - db
      - enroller
    env_file:
      - variables-k8s.env
    # TODO: change to expose: "60443" to limit to containers
    volumes:
      - ./traffic_ops/ca:/ca
      - shared:/shared

  # trafficportal defines the web interface for Traffic Ops.  It uses only the API exposed by Traffic Ops
  # and passes any /api/... routes directly to Traffic Ops
#  trafficportal:
#    build:
#      context: .
#      dockerfile: traffic_portal/Dockerfile
#      args:
#        TRAFFIC_PORTAL_RPM: traffic_portal/traffic_portal.rpm
#    hostname: trafficportal
#    domainname: infra.svc.cluster.local
#    image: cdn-portal
#    depends_on:
#      - enroller
#    env_file:
#      - variables-k8s.env
#    volumes:
#      - shared:/shared

  # trafficmonitor is an HTTP service that monitors the caches in a CDN for a variety of metrics
  trafficmonitor:
    build:
      context: .
      dockerfile: traffic_monitor/Dockerfile
      args:
        TRAFFIC_MONITOR_RPM: traffic_monitor/traffic_monitor.rpm
    hostname: trafficmonitor
    domainname: infra.svc.cluster.local
    image: cdn-monitor
    depends_on:
      - enroller
    volumes:
      - shared:/shared
    env_file:
      - variables-k8s.env

  # trafficrouter routes clients to the most optimal cache
  trafficrouter:
    build:
      context: .
      dockerfile: traffic_router/Dockerfile
      args:
        TRAFFIC_ROUTER_RPM: traffic_router/traffic_router.rpm
        TOMCAT_RPM: traffic_router/tomcat.rpm
    hostname: trafficrouter
    domainname: infra.svc.cluster.local
    image: cdn-router
    depends_on:
      - enroller
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared

  # trafficstats collect traffic information
  trafficstats:
    build:
      context: .
      dockerfile: traffic_stats/Dockerfile
    image: cdn-stats
    hostname: trafficstats
    domainname: infra.svc.cluster.local
    depends_on:
      - enroller
      - influxdb
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared

  influxdb:
    build:
      context: .
      dockerfile: traffic_stats/Dockerfile-influxdb
    hostname: influxdb
    domainname: infra.svc.cluster.local
    image: cdn-stat-db
    depends_on:
      - dns
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared

  # trafficvault runs a riak container to store private keys
  trafficvault:
    build:
      context: .
      dockerfile: traffic_vault/Dockerfile
    hostname: trafficvault
    domainname: infra.svc.cluster.local
    image: cdn-vault
    depends_on:
      - enroller
    environment:
      - CLUSTER_NAME=trafficvault
    labels:
      - "com.basho.riak.cluster.name=trafficvault"
    volumes:
      - schemas:/etc/riak/schemas
      - shared:/shared
    env_file:
      - variables-k8s.env

  # edge cache
  edge:
    privileged: True
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/edge/Dockerfile
    hostname: edge
    domainname: infra.svc.cluster.local
    image: cdn-edge-tier
    env_file:
      - variables-k8s.env
    volumes:
#      - ./edge/run.sh:/opt/init.d/99-run.sh
      - shared:/shared

  # mid cache
  mid:
    privileged: True
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/mid/Dockerfile
    hostname: mid
    domainname: infra.svc.cluster.local
    image: cdn-mid-tier
    env_file:
      - variables-k8s.env
    volumes:
#      - ./mid/run.sh:/opt/init.d/99-run.sh
      - shared:/shared

  # origin provides the content to be distributed through the CDN caches
  origin:
    build:
      context: .
      dockerfile: origin/Dockerfile
    hostname: origin
    domainname: infra.svc.cluster.local
    image: cdn-service-server
    depends_on:
      - enroller
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared
      - ./origin/content:/var/www/html


  # enroller provides a way to register component instances with traffic_ops
  enroller:
    build:
      context: ../..
      dockerfile: infrastructure/cdn-in-a-box/enroller/Dockerfile
    hostname: enroller
    domainname: infra.svc.cluster.local
    image: cdn-enroller
    depends_on:
      - dns
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared

  # Bind9 DNS services work in combination with the traffic router to route clients to the optimal cache
  dns:
    build:
      context: .
      dockerfile: dns/Dockerfile
    hostname: dns
    domainname: infra.svc.cluster.local
    image: cdn-dns
    env_file:
      - variables-k8s.env
    volumes:
      - shared:/shared

volumes:
  schemas:
    external: false
  shared:
    external: false
  content:
    external: false
  ca:
    external: false
